

.action_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

   .action-btn {
        border: 1px solid #EEF1F3;
        background: #FFFFFF;
        border-radius: 4px;
        color: #C2C7CF;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .action-btn.view-btn {
        &:hover {
            background: #F7FAFC;
            border: 1px solid  #527597;

        &:hover {
            svg path{
                fill: #527597;
            }
        }
    }
}
    
.action-btn.delete-btn {
    &:hover {
        background: #FFD9D9;
        border: 1px solid  #FF4242;

    &:hover {
        svg path{
            fill: #FF4242;
        }
    }
}
}

.action-btn.edit-btn {
    &:hover {

        background: #E6FAF0;
        border: 1px solid  #00CC66;

    &:hover {
        svg path{
            fill: #00CC66;
        }
    }
}
}

.action-btn.batch-btn {
    &:hover {

        background: #FFEBCC;
        border: 1px solid  #FFBA52;

    &:hover {
        svg path{
            fill: #FF9900;
        }
    }
}
}

}


