// @import '../../style.scss';

// Define breakpoints as variables
$small-screen: 450px;
$medium-screen: 767px;
$large-screen1: 992px;
$extra-large-screen: 1200px;

.qr-login-main{

    .qr-login-top-sec {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap:20px;
        padding: 35px 0 40px;

        .qr-logo{
            cursor: pointer;
        }

        .qr-contact-sec{

            .qr-withoutbg{
                padding: 4px 10px;
            }

            .qr-withbg{
                padding: 4px 10px;
                margin-left: 13px;
            }
        }
    }

    .qr-login-sec {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-radius: 12px;
        background: var(--white-color);
        padding: 91px 132px 81px 100px;
        min-height: 677px;
        position: relative;

        &:after {
			content: "";
            position: absolute;
            top: 10%;
            left: -3%;
            width: 350px;
            height: 450px;
            background-image: url(/src/assets/images/bg-left.png);
            background-size: contain;
            background-repeat: no-repeat;
		}

        &:before {
		    content: "";
            position: absolute;
            top: 20%;
            right: -3%;
            width: 150px;
            height: 550px;
            background-image: url(/src/assets/images/bg-right.png);
            background-size: contain;
            background-repeat: no-repeat;
		}

        span.qr-sub-content {
            color: var(--black-color);
            font-size: var(--f14);
            font-weight: 400;
            line-height: 142.857%;
        }
        
        .qr-login-left {
            width: 37%;

            h3 {
                margin-bottom: 25px;
            }
            
        }
    
        .qr-login-right {
            width: 49%;
            margin-left: 100px;

            .qr-right-content {
                border-radius: 20px;
                border: 1px solid var(--color5);
                background: var(--color6);
                padding: 55px 70px 95px 65px;

                h3 {
                    margin-bottom: 15px;
                }

                span.qr-right-desc {
                    color: var(--text-color2);
                }

                .ant-form {
                    margin-top: 43px;
                }

                .ant-form-horizontal .ant-form-item-control {
                    flex: unset;
                    width: 100%;
                }

                .ant-btn-primary {
                    padding: 4px 40px 4px 16px;
                    height: 36px;
                    position: relative;

                    &:after {
						content: "";
						position: absolute;
						top: 50%;
						right: 0;
						transform: translateY(-50%);
						width: 32px;
						height: 18px;
                        background-image: url(/src/assets/images/arrow-right.svg);
                        background-size: contain;
                        background-repeat: no-repeat;
					}
                }
                
                .ant-form-item-control{
                    margin: 0;
                }
            }
        }
    }
 
}


// Media queries

@media (max-width: $extra-large-screen) {
    .qr-login-main{
        .qr-login-sec {

            padding: 20px;
            &:after {
                left: 0%;
            }

            &:before {
                right: 0%;
            }

            .qr-login-right {
             
                .qr-right-content {
                    padding: 40px 40px;

                    .ant-form {
                        margin-top: 20px;
                    }
                }
            }
        }
    }

}

@media (max-width: $large-screen1) {
    .qr-login-main{
        .qr-login-sec {

            .qr-login-left {
                width: 41%;
            }

            .qr-login-right {
                width: 46%;
                margin-left: 60px;
            }
         }
    }
}

@media (max-width: $medium-screen) {
    .qr-login-main{
        .qr-login-sec {
            gap: 20px;
            min-height: auto;
            &:after {
                width: 150px;
            }

            &:before {
                width: 150px;
               
            }

            .qr-login-left {
                width: 100%;

                h3 {
                    margin-bottom: 10px;
                }

                .qr-left-content{
                    text-align: center;
                    width: 80%;
                    margin: 0 auto;
                }
            }

            .qr-login-right {
                width: 70%;
                margin: 0 auto;   
            }
         }
    }
}

@media (max-width: $small-screen) {
    .qr-login-main{
        .qr-login-sec {
          
            .qr-login-left {
                .qr-left-content{
    
                    width: 100%;
         
                }
            }

            .qr-login-right {
                width: 100%;

                .qr-right-content {
                    padding: 20px 20px;

                }  
            }
         }
    }

}