#custom-form{

    h4.update-user-title {
        margin: 0;
        margin-bottom: 11px;
    }

    span.ant-modal-close-x {
        cursor: pointer;
    }

}


body #custom-form label.ant-checkbox-wrapper{
   min-width: 45%;
}