// Define breakpoints as variables
$small-screen: 450px;
$medium-screen: 767px;
$large-screen1: 992px;
$extra-large-screen: 1200px;

.product_wrap {

    .product_wrap_sec {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 52px;
        gap: 15px;

        .product_left_wrap {
            display: flex;
            gap: 5px;
            flex-wrap: wrap;

            .blue_btn {
                background-color: var(--color1);
                border: 1px solid var(--color1);
                color: var(--white-color);

                &:hover {
                    background-color: #435c75;
                }
            }

            .border_btn {
                background-color: var(--color6);
                color: var(--color2);
                border: 1px solid #CCD6E0;

                &:hover {
                    background-color: #CCD6E0;
                }
            }

        }

        .product_right_wrap {
            display: flex;
            gap: 8px;
            justify-content: flex-end;
            flex-wrap: wrap;

            input.product_input {
                border: unset;
                cursor: pointer;
                color: #434D56;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
            }

            input.product_input:focus-visible {
                outline: unset;
            }

            input.product_input::placeholder {
                color: #434D56;
            }

            .pr_btn {
                border: 1px solid #D2D4D6;
                border-radius: 4px;
                padding: 4px 10px;
                color: var(--color2);
                background-color: var(--white-color);
                font-size: var(--f14);
                font-weight: 500;
                display: flex;
                align-items: center;
                gap: 8px;
                cursor: pointer;
            }

            button.add_new_btn {
                color: var(--white-color);
                background-color: var(--color4);
                border: 1px solid var(--color4);

                &:hover {
                    color: var(--color4);
                    background-color: var(--white-color);
                    border: 1px solid var(--color4);

                    &:hover {
                        svg path {
                            fill: var(--color4);
                            ;
                        }
                    }
                }
            }

            .product_filter {
                &:hover {
                    background-color: #CCD6E0;
                }
            }
        }

    }

    .product_table_sec {

        th.ant-table-cell {
            &:last-child {
                text-align: center;
            }
        }

        .ant-table-content {
            width: 100%;
            overflow: auto;
        }

    }

}


// Media queries

@media (max-width: $extra-large-screen) {

    .product_wrap {
        .product_wrap_sec {
            margin-bottom: 35px;
        }
    }

}



@media (max-width: $medium-screen) {
    .product_wrap {
        .product_wrap_sec {
            flex-direction: column-reverse;
            align-items: baseline;

            .product_left_wrap {
                .btn {
                    min-width: 100px;
                    height: 33px;
                    padding: 6px 14px;
                    // margin: 0px 0 10px;
                    gap: 10px;
                    flex-shrink: 0;
                }

            }

            .product_right_wrap {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;

                .product_filter {
                    width: 33%;   
                    height: 33px;
                }

                button.add_new_btn {
                    // width: 100%;
                    height: 33px;
                    justify-content: center;
                }
            }
        }
    }
}