// Define breakpoints as variables
$small-screen: 450px;
$medium-screen: 767px;
$large-screen1: 991px;
$extra-large-screen: 1200px;

.qr_product_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    .qr_top_left {
        button {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #434D56;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            background-color: #F7FAFC;
            border: 1px solid #CCD6E0;

            &.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
                background-color: #CCD6E0;
                border: 1px solid #CCD6E0;
                color: #434D56;
            }

        }

    }

    h1 {
        margin: 0;
        color: #1A2128;
        font-size: 24px;
        font-weight: 600;
        line-height: 133.333%;
    }

    .qr_top_right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;

        .qr_serach {
            display: flex;
            align-items: center;
            gap: 6px;

            input.serach-input {
                color: var(--color2);
                font-weight: 500;
                font-size: var(--f14);
                border: 0;
                max-width: 120px;
                padding: 6px;
                cursor: pointer;
            }

            input.serach-input:focus-visible {
                outline: unset;
            }
        }

        .qr_filter_icon {
            display: flex;
            align-items: center;
            gap: 16px;
            cursor: pointer;
        }

    }

}

@media (max-width: $medium-screen) {
    .qr_top_right {
        position: fixed;
        top: 0;
        right: 20px;
        z-index: 10;
        input.serach-input{
            position: fixed;
            top: 30%;
            left: 0;
            box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
            height: 32px;
            margin: 5px 10px;
            z-index: 10;
            padding: 10px 0;
                    
            
           
        }
        .hide_search{
           left: 0;
           width: 0;
           opacity: 0;
        }
        .show_search{
           
            // top: 30%;
          opacity: 1;
            width: 100%;
            transition: all 0.5s ease;
            max-width: 100% !important;
            // border: 1px solid black !important;
            
        }

        
        .qr_filter_icon {
            margin-top: 5px;
        }
    }
} 