:root{
--bg-color: #FDFDFD;
--text-color1: #1A2128;
--text-color2: #A9B2B9;
--white-color: #fff;
--black-color: #000;

--color1: #527597;
--color2: #434D56;
--color3: #7B858F;
--color4: #00CC66;
--color5: #E3E8EE;
--color6: #F7FAFC;
--color7: #D9DEE2;
--color8: #01A352;

--f12:12px;
--f14:14px;
--f16:16px;
--f24:24px; 

}

*{
    font-family: 'IBM Plex Sans', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
}

h3 {
    color: var(--black-color);
    font-size: var(--f24);
    font-weight: 600;
    line-height: 133.333%;
    margin: 0;
}

/*button Primary */

button.ant-btn-default {
    background: var(--white-color);
    border: 1px solid #D2D4D6;
    padding: 4px 10px 4px 10px;
    border-radius: 5px;
    font-size: var(--f14);
    font-weight: 500;
}

.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: var(--color2);
    border-color: #CCD6E0;
    background:#CCD6E0;
}


button.ant-btn-primary,
button.btn {
    border-radius: 5px;
    background: var(--color4);
    text-align: center;
    font-size: var(--f14);
    font-weight: 500;
    line-height: 142.857%; 
    padding: 6px 14px;
    border:unset;
    cursor: pointer;
}    

button.ant-btn-primary span {
    color: var(--white-color);
}

button.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover,
button.btn:hover{
    background: var(--color8);
    color: var(--white-color);
}

button.qr-withoutbg{
    color: var(--text-color1);
    background: var(--bg-color);
    border:unset;
}

button.qr-withbg{
    background: var(--color1);
    color: var(--white-color);
}
/*button Primary */

/* Ant Form */
.ant-form span.ant-input-affix-wrapper {
    border-radius: 6px;
    border: 1px solid var(--color7);
    background: var(--white-color);
    padding: 8px 12px;
    height: 34px;
}

.ant-form input {
    color: var(--color3);
    font-size: var(--f16);
    font-weight: 400;
    line-height: 150%;
    cursor: pointer;
}

.ant-form .ant-input-affix-wrapper >input.ant-input{
    font-size: var(--f16);
    margin-left: 10px;
}

.ant-form label.ant-form-item-required {
    color: var(--color2);
    font-size: var(--f14);
    font-weight: 400;
    line-height: 142.857%;
}

.ant-form .ant-form-item {
    margin-bottom: 20px;
}

.ant-form .ant-form-item:nth-child(2) {
    margin-bottom: 25px;
}

.ant-form .ant-form-item:last-child {
    margin-bottom: 0px;
}

.ant-form svg {
    font-size: 20px;
    fill: var(--color2);
}
/* Ant Form */

/* Ant Table */

body .ant-table-cell {
    color: var(--color2);
    font-size: var(--f12);
    font-weight: 400;
    line-height: 133.333%;
}

body th.ant-table-cell {
    font-weight: 600;
}

body .ant-table-cell{
    padding: 10px 4px;
}

body .ant-table-wrapper{
    width: 100% !important;
}

body .ant-table-wrapper .ant-table-thead >tr>th{
    background: transparent;
    border-bottom: unset;
    box-shadow: 0px 4px 4px 0px #00000008;
    padding: 10px 4px;
}

body .ant-table-wrapper .ant-table-tbody>tr>td{
    padding: 10px 4px;
}

body .ant-table-cell::before{
    display: none;
}

.ant-modal-body {
    max-height: 550px;
    overflow: auto;
    overflow-x:hidden;
    padding-right: 10px;
    padding-left: 8px;
}


/* scroll bar */
.ant-modal-body::-webkit-scrollbar {
    width: 4px;
}

.ant-modal-body::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.ant-modal-body::-webkit-scrollbar-thumb {
    background: #888; 
}

.ant-modal-body::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* scroll bar */

/* Pagination css */

body .ant-pagination .ant-pagination-total-text {
    display: none;
} 

body .ant-pagination .ant-pagination-item-active {
    font-weight: 600;
    border-color: transparent;
}

body .ant-pagination .ant-pagination-item-active:hover {
    border-color: transparent;
}

body .ant-pagination .ant-pagination-item-active a {
    background-color: #E6FAF0;
    color: #00cc66;
    border-radius: 3px;
    width: 32px;
    height: 32px;
} 

.ant-pagination .ant-pagination-item a {
    color: #A3ACB9;
}

li.ant-pagination-next svg {
    fill: #A3ACB9;
}

li.ant-pagination-prev svg {
    fill: #A3ACB9;
}

/* Pagination css */

/* Ant Table */

#custom-form .ant-row {
    margin-bottom: 4px;
}

span.ant-modal-close-x svg {
    fill: #1A2128;
}

.product_table_sec ul.ant-pagination{
    position: absolute;
    bottom: -100px;
    right: 0;
}

.product_table_sec .ant-table {
    min-height: 79vh;
}

/* Media queries */
 
@media (max-width: 991px) {
    :root{
        --f14:12px;
        --f16:14px;
        --f24:20px; 
    }

    .ant-form .ant-input-affix-wrapper >input.ant-input{
        margin-left: 5px;
    }
}

